@media screen and (min-width: 76.25em) {
  nav.md-nav.md-nav--primary.md-nav--lifted > ul.md-nav__list > li.md-nav__item.md-nav__item--active > nav.md-nav > ul.md-nav__list > li.md-nav__item:not(:last-child) {
    border-bottom: 1px solid #ababab;
    padding: 10px 0 20px;
  }

  nav.md-nav.md-nav--primary.md-nav--lifted > ul.md-nav__list > li.md-nav__item.md-nav__item--active > nav.md-nav > ul.md-nav__list > li.md-nav__item:last-child {
    padding: 10px 0 20px;
  }

  nav.md-nav.md-nav--primary.md-nav--lifted > ul.md-nav__list > li.md-nav__item.md-nav__item--active > nav.md-nav > ul.md-nav__list > li.md-nav__item.md-nav__item--nested > nav.md-nav {
    padding-left: 17px;
  }

  nav.md-nav.md-nav--primary.md-nav--lifted > ul.md-nav__list > li.md-nav__item.md-nav__item--active > nav.md-nav > ul.md-nav__list > li.md-nav__item.md-nav__item--nested > nav.md-nav > ul > li.md-nav__item {
    padding: 5px 0;
  }

  nav.md-nav.md-nav--primary.md-nav--lifted > ul.md-nav__list > li.md-nav__item.md-nav__item--active > nav.md-nav > ul.md-nav__list > li.md-nav__item.md-nav__item--active > div.md-nav__link.md-nav__container {
    background-color: #E5E0FF;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
  }

  nav.md-nav.md-nav--primary.md-nav--lifted > ul.md-nav__list > li.md-nav__item.md-nav__item--active > nav.md-nav > ul.md-nav__list > li.md-nav__item.md-nav__item--active > div.md-nav__link.md-nav__container > a {
    color: #000000;
  }

  nav.md-nav.md-nav--primary.md-nav--lifted > ul.md-nav__list > li.md-nav__item.md-nav__item--active > nav.md-nav > ul.md-nav__list > li.md-nav__item.md-nav__item--active > a.md-nav__link.md-nav__link--active  {
    background-color: #E5E0FF;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
  }

  nav.md-nav.md-nav--primary.md-nav--lifted > ul.md-nav__list > li.md-nav__item.md-nav__item--active > div.md-nav__link.md-nav__container {
    display: none;
  }
}

div.grid.cards > ul > li {
  border-radius: 12px !important;
  border: 2px solid #eae8f6 !important;
}

div.grid.cards > ul > li > p:first-child {
  color: var(--md-typeset-a-color);
  font-size: larger;
}

.md-typeset__table table:not([class]) {
  font-size: .8rem;
}

.md-typeset .admonition,
.md-typeset details {
  font-size: .7rem;
}

.md-typeset > p > .md-button {
  margin-bottom: 24px;
}

[data-md-color-scheme="default"] .md-typeset h1 {
  color: #000000;
}

[data-md-color-scheme="default"] .md-typeset h2 {
  border: 2px solid #000000;
  border-left-width: 10px;
  border-radius: 8px;
  padding: 8px;
  font-weight: bold;
  box-shadow: 0 0 0 6px #eee;
}

[data-md-color-scheme="default"] .md-typeset h3 {
  font-weight: bold;
  font-size: 1.40em;
  background-color: #eeeeee;
  padding: 6px;
  border-radius: 8px;
  display: inline;
}

[data-md-color-scheme="slate"] {
  --md-typeset-color: #ffffff;
  --md-admonition-fg-color: #ffffff;
}

[data-md-color-scheme="slate"] .md-typeset h1 {
  color: #ffffff;
}

[data-md-color-scheme="slate"] .md-typeset h2 {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  background-color: #555;
  font-weight: bold;
  box-shadow: 0 0 0 6px #555;
  color:#eee;
}

[data-md-color-scheme="slate"] .md-typeset h3 {
  font-weight: bold;
  font-size: 1.40em;
  background-color: #555;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: inline;
  color: #eee;
}